/* Define a keyframe animation for the typewriter effect */
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Apply the typewriter animation */
.typewriter {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #333; /* You can customize the cursor style */
    animation: typewriter 4s steps(24) infinite;
}


/* Define a keyframe animation for the fade-in effect */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply the fade-in animation */
.animated-fade-in {
    animation: fade-in 1s ease-in-out;
}