/* Achievements Section */
.achievements-section {
    padding: 80px 0; /* Adjust the padding as needed for spacing */
    text-align: center;
}

/* Achievement Item */
.achievement-item {
    margin-top: 30px;
}

/* Achievement Label */
.achievement-label {
    font-size: 20px;
    margin-top: 10px;
    color: #777; /* Label text color */
}

/* Animation for Counting Up */
.achievement-count {
    animation: count-up 1s ease-out; /* Adjust the animation duration and easing as needed */
}

/* Keyframes for Counting Up Animation */
@keyframes count-up {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.feature-description {
    font-size: 16px;
    color: #555; /* Description text color */
    opacity: 0; /* Initial opacity for animation */
    animation: fadeInFeature 1s ease-in-out forwards; /* Fade-in animation */
}

/* Animation Keyframes */
@keyframes fadeInFeature {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Animation for the image scaling */
@keyframes scaleImage {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* Animation for the text fade-in */
@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.gallery-box {
    overflow: hidden;
    position: relative;
}

.gallery-img {
    width: 100%;
    height: auto;
    animation: scaleImage 0.5s ease-in-out; /* Apply the scaleImage animation */
}

.gallery-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeInText 0.5s ease-in-out; /* Apply the fadeInText animation */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    z-index: 1;
}

.gallery-box:hover .gallery-text {
    opacity: 1;
}

/* style.css */

.team-member {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}